@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  font-family: $primary-font;
  overflow-y: hidden;
  overflow-x: hidden;
}

::selection {
  background-color: $yellowish-color;
}

%h2 {
  font-weight: bold;
  text-align: center;
  font-size: clamp(2rem, 4vw, 5rem);
  color: $grey-color;
  text-transform: uppercase;
  padding-bottom: 40px;
  &::first-letter {
    background-color: $yellowish-color;
    padding: 29px 8px 0px 8px;
  }
}
/* -------------------------------------------------------------------------------------------------------------- HERO SECTION ------------ */
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
#hero {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: $grey-color;
  // font-family: 'La Belle Aurore', cursive;
}
/* -------------------------------------------------------------------------------------------------------------- SKILLS SECTION ------------ */
#skills {
  padding: 30px 100px;
  h2 {
    @extend %h2;
  }
  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    .skill {
      color: black;
      font-size: 1.2rem;
      &::after {
        content: "";
        display: inline-block;
        margin: 0px 10px;
        width: 10px;
        height: 10px;
        background-color: $yellowish-color;
        border: 1px solid $grey-color;
        border-radius: 50%;
      }
    }
  }
  hr {
    width: 90%;
    margin: 20px auto -32px auto;
    border-color: rgba(63, 63, 63, 0.1);
  }
}

@media (max-width: 768px) {
  #skills {
    padding: 30px;
    .cont {
      width: 100%;
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------- ABOUT SECTION ------------ */

#about {
  padding: 30px 100px;
  h2 {
    @extend %h2;
  }

  .cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    div {
      margin: 0px 40px;
      #me {
        max-width: 100%;
        min-width: 220px;
        max-height: 320px;
        object-fit: cover;
      }
      h3 {
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
        &::after {
          display: block;
          content: "";
          height: 5px;
          width: 100%;
          background-color: $yellowish-color;
        }
      }
      p {
        margin-top: 10px;
      }
      a {
        display: inline-block;
        background-color: $grey-color;
        color: white;
        padding: 13px 18px;
        border-radius: 6px;
        text-align: center;
        overflow: hidden;
        margin-top: 20px;
        text-decoration: none;
        transition: background-color 150ms ease;
        &:hover {
          background-color: #1b1b1be7;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  #social {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .socialicon {
      transition: all 300ms ease;
      width: 25px;
      height: 30px;
      max-width: 30px;
      &:hover {
        filter: grayscale(100%);
        transform: scale(1.15);
      }
    }
  }
}

@media (max-width: 768px) {
  #about {
    padding: 30px 0px;
    .cont {
      flex-wrap: wrap;
      div {
        h3 {
          margin-top: 20px;
          margin-bottom: 20px;
          display: block;
          text-align: center;
          &::after {
            width: 50%;
            margin: 0 auto;
          }
        }
        p {
          text-align: center;
        }
        a {
          display: block;
          max-width: 220px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- PORTFOLIO SECTION ------------ */

#portfolio {
  position: relative;
  padding: 30px 100px;
  background-color: #ebebeb;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  h2 {
    @extend %h2;
  }
  .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .item {
      overflow: hidden;
      cursor: pointer;
      width: 30%;
      margin-bottom: 40px;
      a {
        text-decoration: none;
        &::after {
          content: "Click to preview";
          width: 100%;
          background-color: black;
          display: block;
          color: white;
          padding: 5px;
        }
        img {
          max-width: 100%;
          transition: all 250ms ease-in-out;
          transform-origin: bottom;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  #star {
    max-width: 70px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    animation: starAnimation 1800ms forwards infinite;
  }
}

@keyframes starAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  #portfolio {
    padding-left: 20px;
    padding-right: 20px;
    .cont {
      .item {
        width: 40%;
      }
    }
    #star {
      max-width: 40px;
      bottom: 15px;
      right: 15px;
    }
  }
}

@media (max-width: 576px) {
  #portfolio {
    .cont {
      .item {
        width: 100%;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- EXPERIENCES SECTION ------------ */

#exp {
  padding: 30px 100px;
  box-shadow: 0px 3px 18px -10px $grey-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item {
    margin: 15px;
    img {
      max-height: 60px;
      max-width: 100%;
      cursor: pointer;
      filter: opacity(0.3);
      transition: all 250ms ease;
      &:hover {
        filter: opacity(1);
      }
    }
  }
}

@media (max-width: 768px) {
  #exp {
    padding: 30px 0px;
    .item {
      margin: 0px 10px;
      img {
        filter: opacity(1);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- FOOTER SECTION ------------ */

footer {
  padding: 30px 0px;
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  #mail {
    a {
      font-size: 16px;
      padding-bottom: 10px;
      display: block;
      transition: transform 200ms ease;
      color: black;
      text-decoration: none;
      &:hover {
        transform: scale(1.05);
        color: #636363;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- LOADING SECTION ------------ */

#loading {
  z-index: 1000;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #dbdbdb;
  .cont {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 80px;
      animation: loadingAnimation 3s forwards infinite;
    }
  }
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
