@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  overflow: hidden;
}

::selection {
  background-color: $yellowish-color;
}

%h2 {
  font-weight: bold;
  font-size: clamp(2rem, 4vw, 5rem);
  color: $grey-color;
  text-transform: uppercase;
  padding-bottom: 40px;
  &::first-letter {
    background-color: $yellowish-color;
    padding: 29px 8px 0px 8px;
  }
}
/* -------------------------------------------------------------------------------------------------------------- HERO SECTION ------------ */

#hero {
  .hideshow {
    transform: translateX(100%);
  }
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  color: #ffffff;

  #left {
    background-color: #000000;
    height: 100%;
    width: 35%;
    padding-left: 20px;

    h2 {
      text-transform: uppercase;
      font-size: 30px;
      text-align: left;
      margin-top: 150px;
      letter-spacing: 1px;
    }
  }
  #right {
    height: 100%;
    width: 65%;
    background-color: #000000;
    nav {
      background-color: #000000;
      border-bottom: 1px solid $yellowish-color;
      height: 55px;
      ul {
        li {
          display: inline-block;
          padding: 10px 30px;
          a {
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 13px;
            &::after {
              display: block;
              content: "";
              width: 0%;
              height: 3px;
              background-color: $yellowish-color;
              border-radius: 30px;
              transition: all 800ms ease;
            }
            &:hover {
              text-decoration: none;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
    img {
      max-width: 100%;
      min-width: 1000px;
    }
  }

  #intro {
    position: absolute;
    top: 55%;
    left: 10%;
    h1 {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: clamp(1rem, 8vw, 5rem);
    }
    h2 {
      color: #000000;
      background-color: $yellowish-color;
      padding: 8px 15px;
      font-size: 22px;
      text-transform: uppercase;
    }
  }

  #down {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #000000;
    position: absolute;
    bottom: 50px;
    left: 50%;
    animation: DownAnimation 350ms alternate infinite;
    img {
      max-width: 20px;
    }
  }

  @keyframes DownAnimation {
    from {
      transform: translateY(8px);
    }

    to {
      transform: translateY(0px);
    }
  }

  #menu-icon {
    display: none;
    z-index: 4;
    position: absolute;
    top: 45px;
    right: 50px;
    width: 60px;
    height: 50px;
    cursor: pointer;
    direction: rtl;
    div {
      cursor: pointer;
      height: 2px;
      background-color: #ffffff;
      &:nth-of-type(1) {
        transition: all 200ms ease;
        background-color: #ffffff;
        width: 32px;
      }
      &:nth-of-type(2) {
        transition: all 200ms ease;
        background-color: #ffffff;
        margin-top: 8px;
        width: 17px;
      }
      &:nth-of-type(3) {
        transition: all 200ms ease;
        background-color: #ffffff;
        margin-top: 8px;
        width: 25px;
      }
    }
  }
}

#mobile-menu {
  display: hidden;
  transition: all 500ms ease;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25%;
  min-width: 250px;
  background-color: #000000;
  border-left: 2px solid yellow;
  ul {
    text-align: center;
    margin-top: 20vh;
    li {
      margin-bottom: 35px;
      font-size: 18px;
      text-transform: uppercase;
      a {
        color: #ffffff;
        &::after {
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          transition: all 800ms ease;
          background-color: $yellowish-color;
        }
        &:hover {
          text-decoration: none;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1285px) {
  #hero {
    #left {
      h2 {
        position: absolute;
        top: 40px;
        z-index: 2;
      }
    }
    #right {
      nav {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

@media (max-width: 835px) {
  #hero {
    #right {
      nav {
        display: none;
      }
    }
    #menu-icon {
      display: block;
    }
    #mobile-menu {
      display: block;
    }
  }
}

@media (max-height: 550px) {
  #hero {
    #left {
      h2 {
        font-size: 20px;
        margin-top: 100px;
      }
    }
    #intro {
      h1 {
        font-size: clamp(1rem, 3vw, 5rem);
      }
    }
    #down {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- ABOUT SECTION ------------ */

#about {
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  h2 {
    @extend %h2;
  }
  #me {
    max-width: 100%;
    min-width: 220px;
    max-height: 320px;
    object-fit: cover;
  }
  h3 {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    &::after {
      display: block;
      content: "";
      height: 5px;
      width: 100%;
      background-color: $yellowish-color;
    }
  }
  #social {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .socialicon {
      transition: all 300ms ease;
      width: 25px;
      height: 30px;
      max-width: 30px;
      &:hover {
        filter: grayscale(100%);
        transform: scale(1.15);
      }
    }
  }
}

@media (max-width: 768px) {
  #about {
    #me {
      max-height: none;
      filter: grayscale(0%);
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
      text-align: center;
      &::after {
        width: 50%;
        margin: 0 auto;
      }
    }
    p {
      text-align: center;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- PORTFOLIO SECTION ------------ */

#portfolio {
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  background-color: #ebebeb;
  position: relative;
  h2 {
    @extend %h2;
  }

  .item {
    position: relative;
    margin-bottom: 40px;
    a {
      &::after {
        transition: all 300ms ease;
        content: "Click to preview";
        width: 100%;
        background-color: #000000;
        display: block;
        color: white;
        text-align: center;
        padding: 5px;
      }

      &:hover {
        text-decoration: none;
        &::after {
          letter-spacing: 1px;
        }
      }
      img {
        transition: all 300ms ease;
        min-width: 100%;
        filter: grayscale(50%);
        &:hover {
          transform: scale(0.95);
          filter: grayscale(0%);
        }
      }
    }
  }
  #star {
    max-width: 70px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    animation: starAnimation 1800ms forwards infinite;
  }
}

@keyframes starAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  #portfolio {
    .item {
      a {
        &:hover {
          &::after {
            letter-spacing: 0px;
          }
        }
        img {
          filter: grayscale(0%);
          &:hover {
            transform: scale(1);
          }
        }
      }
    }
    #star {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- EXPERIENCES SECTION ------------ */

#exp {
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  box-shadow: 0px 3px 18px -10px $grey-color;
  .row {
    margin: 0 auto;
    img {
      max-height: 60px;
      max-width: 100%;
      cursor: pointer;
      filter: opacity(0.3);
      transition: all 250ms ease;
      &:hover {
        filter: opacity(1);
      }
    }
  }
}

@media (max-width: 576px) {
  #exp {
    .row {
      img {
        filter: opacity(1);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------- CONTACT SECTION ------------ */
#mail {
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  position: relative;
  a {
    transition: all 200ms ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
    color: #000000;
    text-align: center;
    &:hover {
      text-decoration: none;
      transform: translateX(-50%) scale(1.08);
      color: #636363;
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------- FOOTER SECTION ------------ */

footer {
  padding-top: $section-top-padding;
  padding-bottom: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- LOADING SECTION ------------ */

#loading {
  z-index: 1000;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  .cont {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 80px;
      animation: loadingAnimation 3s forwards infinite;
    }
  }
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
